// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'module';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }
}

.btn-maroon {
  @include btn-color($white, $chicago-maroon);
}

.btn-orange {
  @include btn-color($white, $burnt-orange);
}