$chicago-maroon: #861F41;
$burnt-orange: #E5751F;
$hokie-stone: #75787b;
$burnt-orange-5op: #fef8f4;

$link-color: $chicago-maroon;
$sidebar-color: $burnt-orange-5op;
$nav-child-link-color: $hokie-stone;
$feedback-color: darken($sidebar-color, 3%);
